# LAMZU Maya - 8K Dongle
SUBSYSTEM=="input", ATTRS{id/vendor}=="3554", ATTRS{name}=="Compx LAMZU 8K Dongle", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="Compx LAMZU 8K Dongle Consumer Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="Compx LAMZU 8K Dongle System Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="Compx LAMZU 8K Dongle Mouse", GROUP="input", TAG+="uaccess"

# LAMZU Maya - Direct Device (wired)
SUBSYSTEM=="input", ATTRS{id/vendor}=="3554", ATTRS{name}=="compx LAMZU Maya Champion", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="compx LAMZU Maya Champion Consumer Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="compx LAMZU Maya Champion System Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="compx LAMZU Maya Champion Keyboard", GROUP="input", TAG+="uaccess"

# LAMZU Maya USB device rules for both dongle and wired modes
SUBSYSTEM=="usb", ATTRS{idVendor}=="3554", ATTRS{idProduct}=="f510", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="3554", ATTRS{idProduct}=="f50f", GROUP="input", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="3554", ATTRS{idProduct}=="f510", GROUP="input", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="3554", ATTRS{idProduct}=="f50f", GROUP="input", TAG+="uaccess"

# LAMZU Maya X Mouse - Dongle
SUBSYSTEM=="input", ATTRS{id/vendor}=="373e", ATTRS{name}=="LAMZU LAMZU Maya X 8K Dongle", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU Maya X 8K Dongle Consumer Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU Maya X 8K Dongle System Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU Maya X 8K Dongle Keyboard", GROUP="input", TAG+="uaccess"

# LAMZU Maya X Mouse - Direct Device
SUBSYSTEM=="input", ATTRS{id/vendor}=="373e", ATTRS{name}=="LAMZU LAMZU MAYA X", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU MAYA X Consumer Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU MAYA X System Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU MAYA X Keyboard", GROUP="input", TAG+="uaccess"

# USB device rules for both dongle and mouse
SUBSYSTEM=="usb", ATTRS{idVendor}=="373e", ATTRS{idProduct}=="001e", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373e", ATTRS{idProduct}=="001c", GROUP="input", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="373e", ATTRS{idProduct}=="001e", GROUP="input", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="373e", ATTRS{idProduct}=="001c", GROUP="input", TAG+="uaccess"

#Lamzu INCA 8K Receiver - Dongle
SUBSYSTEM=="input", ATTRS{id/vendor}=="37b0", ATTRS{name}=="LAMZU LAMZU INCA 8K Receiver", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU INCA 8K Receiver Consumer Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU INCA 8K Receiver System Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU INCA 8K Receiver Keyboard", GROUP="input", TAG+="uaccess"

#Lamzu INCA 8K Receiver USB device rules
SUBSYSTEM=="usb", ATTRS{idVendor}=="37b0", ATTRS{idProduct}=="0010", GROUP="input", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="37b0", ATTRS{idProduct}=="0010", GROUP="input", TAG+="uaccess"

# LAMZU Paro Aurora Mouse - 1K Dongle
SUBSYSTEM=="input", ATTRS{id/vendor}=="37b0", ATTRS{name}=="LAMZU LAMZU PARO 1K Receiver", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU PARO 1K Receiver Consumer Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU PARO 1K Receiver System Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU PARO 1K Receiver Keyboard", GROUP="input", TAG+="uaccess"

# LAMZU Paro Aurora Mouse - 8K Dongle
SUBSYSTEM=="input", ATTRS{id/vendor}=="37b0", ATTRS{name}=="LAMZU LAMZU PARO 1K Receiver", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU Aurora 8K Receiver Consumer Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU Aurora 8K Receiver System Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU Aurora 8K Receiver Keyboard", GROUP="input", TAG+="uaccess"

# LAMZU Paro Aurora Mouse - Direct Device
SUBSYSTEM=="input", ATTRS{id/vendor}=="37b0", ATTRS{name}=="LAMZU LAMZU PARO", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU PARO Consumer Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU PARO System Control", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{name}=="LAMZU LAMZU PARO Keyboard", GROUP="input", TAG+="uaccess"

# LAMZU Paro Aurora USB device rules for both dongle and mouse
SUBSYSTEM=="usb", ATTRS{idVendor}=="37b0", ATTRS{idProduct}=="000d", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="37b0", ATTRS{idProduct}=="0001", GROUP="input", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="37b0", ATTRS{idProduct}=="0007", GROUP="input", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="37b0", ATTRS{idProduct}=="000d", GROUP="input", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="37b0", ATTRS{idProduct}=="0001", GROUP="input", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="37b0", ATTRS{idProduct}=="0007", GROUP="input", TAG+="uaccess"
